.rectangle {
  border: 1px solid red;
  min-width: 300px;
  height: 300px;
  min-height: 300px;
  width: 300px;
  display: flex;
  left: 0;
  top: 0;
  max-width: 1600px;
  position: relative;
}

.child {
  border: 1px solid blue;
  margin: 10px;
  flex-grow: 1;
}

.h-gripper {
  position: absolute;
  cursor: e-resize;
  height: 100%;
  width: 7px;
  right: -5px;
  top: 0;
  border: 1px solid green;
}

.v-gripper {
  position:absolute;
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
  border: 1px solid orange;
}

.both-gripper {
  position:absolute;
  cursor: se-resize;
  height: 15px;
  width: 15px;
  right: 0;
  bottom: 0;
  border: 1px solid greenyellow;
}

.resizing {
  -webkit-user-select: none;
  user-select: none;
  //cursor: e-resize;
}
